.button{
    -fx-background-color: #003366;
    -fx-text-fill:#ffffff ;
}
.logoutBtn{
    -fx-background-color: #ffffff;
    -fx-text-fill: #003366;
}
.accountButton{
    -fx-border-color: #1858a8;
    -fx-border-width: 0 0.5px 0 0.5px;
}
.accountFButton{
    -fx-border-color: #1858a8;
    -fx-border-width: 0 0.5px 0 1px;
}
.accountLButton{
    -fx-border-color: #1858a8;
    -fx-border-width: 0 1px 0 0.5px;
}
.accountButton:hover,.accountButton:focused{
    -fx-background-color: #003366;
    -fx-text-fill:#f58428 ;
    -fx-border-color: #f58428;
    -fx-border-width: 0 0 3px 0;
}

.withdrawBtn{
    -fx-background-color: #00000000;
    -fx-text-fill:#003366 ;
    -fx-border-color: #003366;
}

.withdrawBtn:hover{
    -fx-background-color: #003366;
    -fx-text-fill:#ffffff ;
    -fx-border-color: #003366;
}
.loanCard {
    -fx-border-color: #003366;
    -fx-border-width: 1px;
}

.toolBar{
    -fx-background-color: #003366;
    -fx-border-color: #003350;
    -fx-border-width: 0 0 1px 0;
}
.adminSideBtn{
    -fx-border-color: #1858a8;
    -fx-border-width: 0.5px 0 0.5px 0;
}
.adminFBtn{
    -fx-border-color: #1858a8;
    -fx-border-width: 1px 0 0.5px 0;
}
.adminLBtn{
    -fx-border-color: #1858a8;
    -fx-border-width: 0.5px 0 1px 0;
}
.adminSideBtn:hover, .adminSideBtn:focused{
    -fx-background-color: #1858a8;
    -fx-text-fill:#f58428 ;
    -fx-border-color: #f58428;
    -fx-border-width: 0 0 0 3px;
}
.table-view{
    -fx-border-color: #003366;
    -fx-border-width: 2px;
    -fx-text-alignment: center;
}
.table-view .column-header-background{
    -fx-background-color: #003366;
}
.table-view .column-header, .table-view .filler{
    -fx-background-size: 70px;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0.5 0 0.5;
    -fx-background-color: transparent;
}
.table-view .column-header .label{
    -fx-text-fill: #ffffff;
}
