.button
{
    -fx-background-color: #003366;
}
.button:hover{
    -fx-background-color: #1858a8;
}

.accountButton:hover,.accountButton:focused{
    -fx-background-color: #003366;
    -fx-text-fill:#f58428 ;
    -fx-border-color: #f58428;
    -fx-border-width: 0 0 3px 0;
}

.withdrawBtn{
    -fx-background-color: #00000000;
    -fx-text-fill:#003366 ;
    -fx-border-color: #003366;
}

.withdrawBtn:hover,.withdrawBtn:hover{
    -fx-background-color: #003366;
    -fx-text-fill:#ffffff ;
    -fx-border-color: #003366;
}
.loanCard{

    -fx-border-color: #003366;
    -fx-border-width: 1px;

}

/*
.button:pressed{
    -fx-background-color: #f58428;
}*/
